htop filter=lfs diff=lfs merge=lfs -text
mpv filter=lfs diff=lfs merge=lfs -text
waybar filter=lfs diff=lfs merge=lfs -text
wlogout filter=lfs diff=lfs merge=lfs -text
audacious filter=lfs diff=lfs merge=lfs -text
gtk4_theming_override.webp filter=lfs diff=lfs merge=lfs -text
onedrive filter=lfs diff=lfs merge=lfs -text
suckless filter=lfs diff=lfs merge=lfs -text
dunst filter=lfs diff=lfs merge=lfs -text
environment.d filter=lfs diff=lfs merge=lfs -text
redshift filter=lfs diff=lfs merge=lfs -text
wal filter=lfs diff=lfs merge=lfs -text
nvim filter=lfs diff=lfs merge=lfs -text
swaylock filter=lfs diff=lfs merge=lfs -text
vlc filter=lfs diff=lfs merge=lfs -text
wlsunset filter=lfs diff=lfs merge=lfs -text
keepassxc filter=lfs diff=lfs merge=lfs -text
gtk-3.0 filter=lfs diff=lfs merge=lfs -text
hypr filter=lfs diff=lfs merge=lfs -text
alacritty filter=lfs diff=lfs merge=lfs -text
rofi filter=lfs diff=lfs merge=lfs -text
kdeconnect filter=lfs diff=lfs merge=lfs -text
neofetch filter=lfs diff=lfs merge=lfs -text
yt-dlp filter=lfs diff=lfs merge=lfs -text
fastfetch filter=lfs diff=lfs merge=lfs -text
gtk-2.0 filter=lfs diff=lfs merge=lfs -text
gtk-4.0 filter=lfs diff=lfs merge=lfs -text
hyprland.conf filter=lfs diff=lfs merge=lfs -text
