configuration {
 modi: "drun";
 kb-cancel: "Escape,Alt+F1";
 color-normal: "#1c2023, #919ba0, #1c2023, #a4a4a4, #1c2023";
 color-urgent: "argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49";
 color-active: "argb:00000000, #cad3f5, argb:00000000, argb:00000000, #49bbfb";
 color-window: "#8aadf4";
 }
@theme "Machiatto_Blue"
prompt {
enabled: false;

}
